{% extends "layouts/rental_base.html" %}
{% load static %}

{% block title %} Hợp đồng thuê nhà {% endblock %}

{% block extra_css %}{% endblock extra_css %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index1' %}"><i class="fas fa-home"></i></a></li>
        <li class="breadcrumb-item"><a href="{% url 'loc_list' %}">Vị trí</a></li>
        <li class="breadcrumb-item active" aria-current="page">Hợp đồng thuê nhà</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
        <div class="row item-row">
            <div class="col-12">
                <div class="card card-body bg-white border-light shadow-sm mb-4">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            {% for field in forms %}
                                <div class="col-md-6 mb-3">
                                    <div>{{ field.label_tag }}{{ field }}</div>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                                    <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z"/>
                                  </svg><span></span>
                                  Lưu hợp đồng</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

{% endblock content %}

{% block extra_js %}{% endblock extra_js %}
