{% extends "layouts/rental_base.html" %}
{% load static %}

{% block title %} Tạo người thuê {% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index1' %}"><i class="fas fa-home"></i></a></li>
        <li class="breadcrumb-item"><a href="{% url 'renter_list' %}">Thông tin người thuê</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tạo mới</li>
    </ol>
</nav>
{% endblock %}

{% block content %}

        <div class="row item-row">
            <div class="col-12">
                <div class="card card-body bg-white border-light shadow-sm mb-4">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            {% for field in forms %}
                                <div class="col-md-6 mb-3">
                                    <div>{{ field.label_tag }}{{ field }}</div>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary">Lưu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

{% endblock content %}
