{% extends 'sms/base.html' %}
{% load static %}

{% block content %}

{% include 'sms/alerts.html' %}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i>Import du lieu ban dau
            </div>
            <div class="card-body">
                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                    <tbody>
                        <tr>
                            <td>Chon file </td>
                            <td>
                                <form action="{% url 'import_monhoc_dm' %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="file"
                                           title="Upload excel file"
                                           name="excel_file"
                                           style="border: 1px solid black; padding: 5px;"
                                           required="required">
                                    <input type="submit" class="btn btn-primary" name="submit" value="Import Mon hoc & danh muc">
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i>Danh sach Chuong trinh Dao taoâsa
            </div>
            <div class="card-body">
                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                    <tbody>
                        <tr>
                            <td>
                                <a href="{% url 'create_ctdt' %}">
                                    <button type="button" class="btn btn-primary">Them moi</button>
                                </a>

                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Ten CTDT</th>
                            <th>Khoa</th>
                            <th>Nam hoc</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ct in ctdt %}
                        <tr>
                            <td>{{ ct.ten }}</td>
                            <td>{{ ct.khoa }}</td>
                            <td>{{ ct.khoahoc }}</td>
                            <td>
                                <a href="{% url 'lop_ctdtmonhoc' ct.id %}">
                                    <button type="button" class="btn btn-info"><i class="fa fa-edit">Chi tiet >></i></button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% if ctdt.has_other_pages %}
            <ul class="pagination">
                {% if ctdt.has_previous %}
                    <li class="page-item">
                        <a href="?page={{ctdt.previous_page_number}}" class="page-link">Prev</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">Prev</a>
                    </li>
                {% endif %}
                {% for i in ctdt.paginator.page_range %}
                    {% if ctdt.number == i %}
                        <li class="page-item active">
                            <a class="page-link">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if ctdt.has_next %}
                    <li class="page-item">
                        <a href="?page={{ctdt.next_page_number}}" class="page-link">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">Next</a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
</div>

{% endblock %}