{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Cập nhật môn học {% endblock %}

{% block content %}

    <main class="content">

        {% include 'includes/navigation.html' %}

        <div class="preloader bg-soft flex-column justify-content-center align-items-center">
            <img class="loader-element animate__animated animate__jackInTheBox"
                 src="{% static 'assets/img/brand/light.svg' %}" height="60" alt="Volt logo">
        </div>

        <div class="py-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a href="">Lớp</a></li>
                    <li class="breadcrumb-item"><a href="">Môn học</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Kết quả học tập</li>
                </ol>
            </nav>
            <div class="d-flex justify-content-between w-100 flex-wrap">
                <div class="mb-3 mb-lg-0">
                    <h1 class="h4">Kết quả học tập</h1>
                </div>
            </div>
        </div>

        <div class="row item-row">
            <div class="col-12">
                <form action="#" method="post">
                    {% csrf_token %}
                    <input class="btn btn-success" type="submit" value="Submit">
                    <table class="table table-responsive-sm table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Mã</th>
                                <th>Họ tên</th>
                                <th>Môn học</th>
                                <th>Điểm thành phần</th>
                                <th>Điểm</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for diem in diems %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ diem.sv.msv }}</td>
                                <td>{{ diem.sv.hoten }}</td>
                                <td>{{ diem.monhoc.ten }}</td>
                                <td>{{ diem.tp.ten }}</td>
                                <td>
                                    <input type="number" name="C{{ diem.sv_id }}-{{ diem.tp_id }}" min="0" max="10" value="{{ diem.diem }}">
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
                </div>
        </div>
    </main>

{% endblock content %}
