{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Cập nhật môn học {% endblock %}

{% block content %}
<style>
    .form-switch .form-check-input {
        height: 18px;
        width: 36px;
    }
    .form-switch .form-check-input:focus {
        border-color: rgba(0, 0, 0, 0.25);
        outline: 0;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/></svg>");
    }
    .form-switch .form-check-input:checked {
        background-color: #30D158;
        border-color: #30D158;
        border: none;
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
    }

</style>

    <main class="content">

        {% include 'includes/navigation.html' %}

        <div class="preloader bg-soft flex-column justify-content-center align-items-center">
            <img class="loader-element animate__animated animate__jackInTheBox"
                 src="{% static 'assets/img/brand/light.svg' %}" height="60" alt="Volt logo">
        </div>


        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="btn-toolbar mb-2 mb-md-0">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a href="{% url 'lop_list' %}">Lớp</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'lop_monhoc' lmh.lop_id%}">Môn học</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'diemtp-lmh-lst' lmh.id 0%}">Điểm thành phần</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Kết quả học tập</li>
                </ol>
            </div>
        </div>

        <form action="#" method="post">
            {% csrf_token %}
            <input class="btn btn-success" type="submit" value="Submit">
            <input hidden type="number" name="log" class="form-control" value="{{log.id}}" id="id_sogio">
            <div class="row item-row">
                <div class="col-12" id="sad-monsters">
                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Mã</th>
                                    <th>Họ tên</th>
                                    <th>Môn học</th>
                                    <th>Điểm thành phần</th>
                                    <th>Điểm</th>
                                    {% if mald == 'KTKT' %}<th>Đủ ĐK?</th>{% endif %}
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for diem in diems %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ diem.sv.msv }}</td>
                                    <td>{{ diem.sv.hoten }}</td>
                                    <td>{{ diem.monhoc.ten }}</td>
                                    <td>{{ diem.tp.ten }}</td>
                                    <td>
                                        <input type="number" name="C{{ diem.sv.id }}-{{ diem.tp.id }}" min="0" max="10" step="0.5" value="{{ diem.diem }}">
                                    </td>
                                    {% if mald == 'KTKT' %}
                                    <td class="text-center">
                                        <div class="d-flex justify-content-center form-check form-switch">
                                            <input class="form-check-input" name="Att{{ diem.sv.id }}" type="checkbox" {% if diem.att == 1 %} checked="checked" {% endif %}>
                                        </div>
                                    </td>
                                    {% endif %}
                                    <td>
                                        <button
                                        class="btn btn-secondary"
                                        hx-trigger="click"
                                        hx-get="{% url 'show_history' diem.id 7%}"
                                        hx-target="#sad-monsters"
                                        hx-swap="beforeend"
                                    >
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
                                            <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z"/>
                                            <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z"/>
                                            <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5"/>
                                        </svg>
                                    </button>
        
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
            </div>
        </form>
</main>

{% endblock content %}
