{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Cập nhật môn học {% endblock %}

{% block content %}

    <main class="content">

        {% include 'includes/navigation.html' %}

        <div class="preloader bg-soft flex-column justify-content-center align-items-center">
            <img class="loader-element animate__animated animate__jackInTheBox"
                 src="{% static 'assets/img/brand/light.svg' %}" height="60" alt="Volt logo">
        </div>


        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="btn-toolbar mb-2 mb-md-0">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a href="{% url 'lop_list' %}">Lớp</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'lop_monhoc' lmh.lop_id%}">Môn học</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'diemtp-lmh-lst' lmh.id%}">Điểm thành phần</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Kết quả học tập</li>
                </ol>
            </div>
        </div>

        <form action="#" method="post">
            {% csrf_token %}
            <input class="btn btn-success" type="submit" value="Submit">
            <input hidden type="number" name="log" class="form-control" value="{{log.id}}" id="id_sogio">
            <div class="row item-row">
                <div class="col-12">
                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Mã</th>
                                    <th>Họ tên</th>
                                    <th>Môn học</th>
                                    <th>Điểm thành phần</th>
                                    <th>Điểm</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for diem in diems %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ diem.sv.msv }}</td>
                                    <td>{{ diem.sv.hoten }}</td>
                                    <td>{{ diem.monhoc.ten }}</td>
                                    <td>{{ diem.tp.ten }}</td>
                                    <td>
                                        <input type="number" name="C{{ diem.sv.id }}-{{ diem.tp.id }}" min="0" max="10" step="0.5" value="{{ diem.diem }}">
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
            </div>
        </form>
</main>

{% endblock content %}
