{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Cập nhật môn học {% endblock %}

{% block content %}

    <main class="content">

        {% include 'includes/navigation.html' %}

        <div class="preloader bg-soft flex-column justify-content-center align-items-center">
            <img class="loader-element animate__animated animate__jackInTheBox"
                 src="{% static 'assets/img/brand/light.svg' %}" height="60" alt="Volt logo">
        </div>


        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="btn-toolbar mb-2 mb-md-0">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a href="{% url 'lop_list' %}">Lớp</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'lop_monhoc' lmh.lop.id%}">Môn học</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Thông tin môn học</li>
                </ol>
        </div>
        </div>

        <div class="row item-row">
            <div class="col-12">
                <h6>Thông tin môn học: {{lmh.monhoc.ten}}</h6>
                <a class="dropdown-item edit_item"
                    href="{% url 'upload_file_lmh' lmh.id%}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-bar-graph" viewBox="0 0 16 16">
                    <path d="M10 13.5a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-6a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm-2.5.5a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5zm-3 0a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5z"/>
                    <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
                    </svg>
                    <span></span>File minh chứng
                 </a>
                <div class="card card-body bg-white border-light shadow-sm mb-4">
                    <form action="" method="post" {% if not perms.sms.add_lopmonhoc %} id ="id_disabled" {% endif %}>
                        {% csrf_token %}
                        <div class="row">
                            {% for field in forms %}
                            {% if field.name == 'lop' %}
                                <input hidden type="number" name="lop" class="form-control" value="{{lmh.lop.id}}" id="id_sogio">
                            {% elif field.name == 'monhoc' %}
                                <input hidden type="number" name="monhoc" class="form-control" value="{{lmh.monhoc.id}}" id="id_sogio">
                            {% else %}
                                <div class="col-md-6 mb-3">
                                    <div>{{ field.label_tag }}{{ field }}</div>
                                </div>
                            {% endif %}
                            {% endfor %}
                        </div>

                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary">Cập nhật</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
<script>
    document.querySelectorAll('#id_disabled input, #id_disabled select, #id_disabled button, #id_disabled textarea').forEach(elem => elem.disabled = true);    
    document.querySelectorAll('#id_disabled button').forEach(elem => elem.hidden = true);    
</script>
    
{% endblock content %}
