{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Transactions {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class="content">

        {% include 'includes/navigation.html' %}
        {% include 'sms/alerts.html' %}

        <div class="preloader bg-soft flex-column justify-content-center align-items-center">
            <img class="loader-element animate__animated animate__jackInTheBox"
                 src="{% static 'assets/img/brand/light.svg' %}" height="60" alt="Volt logo">
        </div>


        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="btn-toolbar mb-2 mb-md-0">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a href="{% url 'lop_list'%}">Lớp</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'lop_monhoc' lmh.lop.id%}">Môn học</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Thanh toán cho giáo viên</li>
                </ol>
        </div>
        </div>

        <div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
            <!-- <table class="table table-responsive-sm table-bordered table-striped table-sm"> -->
                <h6>Lớp: {{lmh.lop.ten}}</h6>
                <h8>Môn hoc: {{lmh.monhoc.ten}}</h8>
                <table class="table table-responsive-sm table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Giáo viên</th>
                            <th>Lịch học</th>
                            <th>Số tiết</th>
                            <th>Số tiền</th>
                            <th>Tác nghiệp</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for gv in gvs %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ gv.hoten }}</td>
                            <td></td>
                            <td>
                                <span class="font-weight-bold text-success">{{ gv.sotiet }}</span>
                            </td>
                            <td>{{ gv.sotien }}</td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="icon icon-sm">
                                            <span class="fas fa-ellipsis-h icon-dark"></span>
                                        </span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item edit_item"
                                           href="{% url 'edit_ttgv' lmh.id gv.id%}">
                                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                                          </svg>
                                            <span></span>Cập nhật
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% for lh in gv.lhs %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td>{{ lh.thoigian | date:"d/m/Y H:i" }}</td>
                            <td>{{ lh.sotiet }}</td>
                            <td></td>
                            <td>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>

            {{ transactions.pagination }}

        </div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
