{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Cập nhật lớp {% endblock %}

{% block content %}
<style>
    .form-switch .form-check-input {
        height: 18px;
        width: 36px;
    }
    .form-switch .form-check-input:focus {
        border-color: rgba(0, 0, 0, 0.25);
        outline: 0;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/></svg>");
    }
    .form-switch .form-check-input:checked {
        background-color: #30D158;
        border-color: #30D158;
        border: none;
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
    }

</style>

    <main class="content">

        {% include 'includes/navigation.html' %}
        {% include 'sms/alerts.html' %}

        <div class="preloader bg-soft flex-column justify-content-center align-items-center">
            <img class="loader-element animate__animated animate__jackInTheBox"
                 src="{% static 'assets/img/brand/light.svg' %}" height="60" alt="Volt logo">
        </div>


        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="btn-toolbar mb-2 mb-md-0">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a href="{% url 'gv_list' %}">Thông tin giáo viên</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{gv.hoten}} - Gán Lớp môn học</li>
                </ol>
            </div>
        </div>

        <div class="row item-row">
            <div class="col-12">
                <div class="card card-body bg-white border-light shadow-sm mb-4">
                    <h2 class="h5 mb-4">Thông tin tìm kiếm</h2>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <div>
                                    <div class="input-group input-group-merge search-bar">
                                        <span class="input-group-text" id="topbar-addon"><span class="fas fa-search"></span></span>
                                        <input 
                                            type="text" 
                                            class="form-control"
                                            name = "search" 
                                            id="topbarInputIconLeft" 
                                            placeholder="Type to filter" 
                                            aria-label="Type to filter" 
                                            aria-describedby="topbar-addon"
                                            hx-get="{% url 'search_gv_lmh_htmx' gv.id%}"
                                            hx-trigger="keyup delay:500ms"
                                            hx-include="#filter-form"
                                            hx-target="#sad-monsters"
                                            >
                                      </div>
                                                          </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


          <div class="card border-light shadow-sm mb-4">
              <form id="filter-form"
                  method="POST"
                  action="{% url 'gv_lmh_htmx' gv.id%}"
                  hx-vals='{"use_block": ["happy-monsters", "sad-monsters"]}'
                  hx-swap="none"
                >
                <div class="card-body">
                        <button type="submit" class="btn btn-primary">Submit</button>
                </div>
    
                <div class="card-body">
                {% csrf_token %}
                          <div class="table-responsive">
                          {% block sad-monsters %}
                            <div id="sad-monsters"
                                hx-swap-oob="true">
                                <table class="table align-middle rounded">
                                  <thead class="thead-light">
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên</th>
                                            <th>Chọn môn học</th>
                                        </tr>
                                  </thead>
                                  <tbody>
                                    {% for ct in cms %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td class="text-wrap">{{ ct}}</td>
                                        <td class="text-center">
                                            <div class="d-flex justify-content-center form-check form-switch">
                                                <input class="form-check-input" name="C{{ ct.id }}" type="checkbox" {% if ct.status == 1 %} checked="checked" {% endif %}>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                            </tbody>
                              </table>
                            </div>
                          {% endblock %}
                        </div>
                    </div>      
              </form>
          </div>

</main>

{% endblock content %}
