{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Transactions {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class="content">

        {% include 'includes/navigation.html' %}
        {% include 'sms/alerts.html' %}

        <div class="preloader bg-soft flex-column justify-content-center align-items-center">
            <img class="loader-element animate__animated animate__jackInTheBox"
                 src="{% static 'assets/img/brand/light.svg' %}" height="60" alt="Volt logo">
        </div>

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="btn-toolbar mb-2 mb-md-0">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="\"><span class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a href="{% url 'lop_list' %}">Lớp</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Môn học</li>
                </ol>
            </div>
        </div>


        <div class="card border-light shadow-sm mb-4">
            <div class="card-body">
                    <h6>Lớp: {{ten}}</h6>
                    <div class="table-responsive">
                    <table class="table table-centered mb-0 rounded">
                        <thead class="thead-light">
                            <tr>
                                <th>Môn học</th>
                                <th>Tgian bắt đầu</th>
                                <th>Tgian kết thúc</th>
                                <th>Tình trạng</th>
                                <th>Tác nghiệp</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ct in lm %}
                            <tr>
                                {% if perms.sms.view_lopmonhoc or  perms.sms.change_lopmonhoc %}
                                <td>
                                    <a href="{% url 'edit_lopmonhoc' ct.id %}">
                                        <span class="fas fa-edit mr-2"></span>{{ ct.monhoc.ma }}-{{ ct.monhoc.ten }}
                                    </a>
                                </td>
                                {% else %}
                                <td>{{ ct.monhoc.ma }}-{{ ct.monhoc.ten }}</td>
                                {% endif %}

                                <td>{{ ct.ngaystart }}</td>
                                <td>{{ ct.ngayend }}</td>
                                <td>
                                {% if ct.status == 'Đã hoàn thành'%}
                                    <span class="font-weight-bold text-success">{{ ct.status }}</span>
                                {%else%}
                                    <span class="font-weight-bold">{{ ct.status }}</span>
                                {%endif%}
                                </td>
                                <td>
                                    <div>
                                        <button class="btn btn-link text-dark mr-2 dropdown-toggle m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="icon icon-sm">
                                                <span class="fas fa-ellipsis-h icon-dark"></span>
                                            </span>
                                        </button>
                                        <div class="dropdown-menu dashboard-dropdown dropdown-menu-left mt-2">
                                            {% if perms.sms.view_lichhoc %}
                                            <a class="dropdown-item edit_item"
                                               href="{% url 'lichhoclopmh_list' ct.id  %}">
                                               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16">
                                                <path d="M6.445 11.688V6.354h-.633A13 13 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23"/>
                                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                                              </svg>
                                                <span></span>Lịch hoc
                                            </a>
                                            {% endif %}
                                            {% if perms.sms.view_diemthanhphan %}
                                            <a class="dropdown-item edit_item"
                                               href="{% url 'diemtp-lmh-lst' ct.id %}">
                                               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                                              </svg>
                                                <span></span>KQ Học tập
                                            </a>
                                            {% endif %}
                                            {% if perms.sms.view_ttgv %}
                                            <a class="dropdown-item edit_item"
                                               href="{% url 'gv-lmh-lst' ct.id %}">
                                               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                                                <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"/>
                                              </svg>
                                                <span></span>Thanh toán cho giáo viên
                                            </a>
                                            {% endif %}
                                            {% if perms.sms.add_lopmonhoc or perms.sms.change_lopmonhoc  or perms.sms.view_lopmonho %}
                                            <a class="dropdown-item edit_item"
                                               href="{% url 'history_lopmonhoc' ct.id %}">
                                               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
                                                <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z"/>
                                                <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z"/>
                                                <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5"/>
                                              </svg>
                                                <span></span>Lịch sử thay đổi
                                            </a>
                                            {% endif %}
                                            {% if perms.sms.delete_lopmonhoc %}
                                            <a class="dropdown-item edit_item"
                                               href="">
                                               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                              </svg>
                                                <span></span>Remove
                                            </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% if perms.sms.add_lopmonhoc %}
            <div class="card-body">
                <a href="{% url 'create_lopmonhoc' lop_id %}">
                    <button type="button" class="btn btn-primary">Thêm mới</button>
                </a>
            </div>
            {% endif %}
        </div>

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
