{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Transactions {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class="content">

        {% include 'includes/navigation.html' %}
        {% include 'sms/alerts.html' %}

        <div class="preloader bg-soft flex-column justify-content-center align-items-center">
            <img class="loader-element animate__animated animate__jackInTheBox"
                 src="{% static 'assets/img/brand/light.svg' %}" height="60" alt="Volt logo">
        </div>

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="btn-toolbar mb-2 mb-md-0">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="\"><span class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a href="{% url 'lop_list' %}">Lớp</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Môn học</li>
                </ol>
            </div>
        </div>


        <div class="card border-light shadow-sm mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-centered mb-0 rounded">
                        <thead class="thead-light">
                            <tr>
                                <th>Môn học</th>
                                <th>Tgian bắt đầu</th>
                                <th>Tgian kết thúc</th>
                                <th>Tình trạng</th>
                                <th>Tác nghiệp</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ct in lm %}
                            <tr>
                                {% if perms.sms.view_lopmonhoc or  perms.sms.change_lopmonhoc %}
                                <td>
                                    <a href="{% url 'edit_lopmonhoc' ct.id %}">
                                        <span class="fas fa-edit mr-2"></span>{{ ct.monhoc.ma }}-{{ ct.monhoc.ten }}
                                    </a>
                                </td>
                                {% else %}
                                <td>{{ ct.monhoc.ma }}-{{ ct.monhoc.ten }}</td>
                                {% endif %}

                                <td>{{ ct.ngaystart }}</td>
                                <td>{{ ct.ngayend }}</td>
                                <td>
                                {% if ct.status == 'Đã hoàn thành'%}
                                    <span class="font-weight-bold text-success">{{ ct.status }}</span>
                                {%else%}
                                    <span class="font-weight-bold">{{ ct.status }}</span>
                                {%endif%}
                                </td>
                                <td>
                                    <div>
                                        <button class="btn btn-link text-dark mr-2 dropdown-toggle m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="icon icon-sm">
                                                <span class="fas fa-ellipsis-h icon-dark"></span>
                                            </span>
                                        </button>
                                        <div class="dropdown-menu dashboard-dropdown dropdown-menu-left mt-2">
                                            {% if perms.sms.view_lichhoc %}
                                            <a class="dropdown-item edit_item"
                                               href="{% url 'lichhoclopmh_list' ct.id  %}">
                                                <span class="fas fa-edit mr-2"></span>Lịch hoc
                                            </a>
                                            {% endif %}
                                            {% if perms.sms.view_diemthanhphan %}
                                            <a class="dropdown-item edit_item"
                                               href="{% url 'diemtp-lmh-lst' ct.id %}">
                                                <span class="fas fa-edit mr-2"></span>KQ Học tập
                                            </a>
                                            {% endif %}
                                            {% if perms.sms.view_ttgv %}
                                            <a class="dropdown-item edit_item"
                                               href="{% url 'gv-lmh-lst' ct.id %}">
                                                <span class="fas fa-edit mr-2"></span>Thanh toán cho giáo viên
                                            </a>
                                            {% endif %}
                                            {% if perms.sms.add_lopmonhoc or perms.sms.change_lopmonhoc  or perms.sms.view_lopmonho %}
                                            <a class="dropdown-item edit_item"
                                               href="{% url 'history_lopmonhoc' ct.id %}">
                                                <span class="fas fa-edit mr-2"></span>Lịch sử thay đổi
                                            </a>
                                            {% endif %}
                                            {% if perms.sms.delete_lopmonhoc %}
                                            <a class="dropdown-item text-danger delete_item"
                                               data-href="">
                                                <span class="fas fa-trash-alt mr-2"></span>Remove
                                            </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% if perms.sms.add_lopmonhoc %}
            <div class="card-body">
                <a href="{% url 'create_lopmonhoc' lop_id %}">
                    <button type="button" class="btn btn-primary">Thêm mới</button>
                </a>
            </div>
            {% endif %}
        </div>

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
