{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Transactions {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class="content">

        {% include 'includes/navigation.html' %}
        {% include 'sms/alerts.html' %}

        <div class="preloader bg-soft flex-column justify-content-center align-items-center">
            <img class="loader-element animate__animated animate__jackInTheBox"
                 src="{% static 'assets/img/brand/light.svg' %}" height="60" alt="Volt logo">
        </div>


        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="btn-toolbar mb-2 mb-md-0">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="\"><span class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Quản lý học tập</li>
                </ol>
            </div>
        </div>

        <div class="row item-row">
            <div class="col-12">
                <div class="card card-body bg-white border-light shadow-sm mb-4">
                    <h2 class="h5 mb-4">Thông tin tìm kiếm</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div><label for="id_ma">Tên lớp:</label>
                                    <input type="text" name="ten" class="form-control" maxlength="100">
                                </div>
                            </div>
                        
                            <div class="mt-3">
                                <button type="submit" class="btn btn-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                    </svg>
                                    Tìm kiếm                              
                                </button>
                            </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>

<div class="card border-light shadow-sm mb-4">
    <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-centered mb-0 rounded">
                        <thead class="thead-light">
                    <tr>
                        <th>STT</th>
                        <th>Mã lớp</th>
                        <th>Tên lớp</th>
                        <th>Trung tâm</th>
                        <th>Chương trình ĐT</th>
                        <th>Tác nghiệp</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ct in lop %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ ct.ma }}</td>
                        <td>
                            {{ ct.ten }}
                        </td>
                        <td>{{ ct.trungtam }}</td>
                        <td>
                            {{ ct.ctdt.ten }}
                        </td>
                        <td>
                            <div>
                                <button class="btn btn-link text-dark mr-2 dropdown-toggle m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="icon icon-sm">
                                        <span class="fas fa-ellipsis-h icon-dark"></span>
                                    </span>
                                </button>
                                <div class="dropdown-menu dashboard-dropdown dropdown-menu-left mt-2">
                                    <a class="dropdown-item edit_item"
                                       href="{% url 'lop_monhoc' ct.id  %}">
                                        <span class="fas fa-edit mr-2"></span>Kế hoạch học tập
                                    </a>
                <!-- 

                                    <a class="dropdown-item edit_item"
                                       href="{% url 'lop81-lst' ct.id %}">
                                        <span class="fas fa-edit mr-2"></span>Hồ sơ 81 & Học phí (cũ)
                                    </a>
                -->

                                    <a class="dropdown-item edit_item"
                                       href="{% url 'edit_lop' ct.id %}">
                                        <span class="fas fa-edit mr-2"></span>Cập nhật lớp
                                    </a>
                                    <a class="dropdown-item edit_item"
                                       href="{% url 'svlop_list' ct.id %}">
                                        <span class="fas fa-edit mr-2"></span>Học viên - Hồ sơ 81 - Học phí
                                    </a>
                                </div>
                            </div>
                    <!-- <a class="btn btn-primary" href="{% url 'lop_monhoc' ct.id  %}" role="button">Quản lý học tập</a>
                            <a class="btn btn-warning" href="{% url 'lop81-lst' ct.id %}">Hồ sơ 81 & Học phí</a>
                            <a class="btn btn-secondary" href="{% url 'svlop_list' ct.id %}">Sinh viên >></a> -->
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {{ transactions.pagination }}

        </div>
    </div>
    <div class="card-body">
        <a href="{% url 'create_lop' %}">
            <button type="button" class="btn btn-primary">Tạo mới lớp</button>
        </a>
</div>
</div>
</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
