{% extends 'sms/base.html' %}
{% block content %}
    <h1>List of Classes</h1>
<div class="card mb-3">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-responsive-sm table-bordered table-striped table-sm">
                <tbody>
                    <tr>
                        <td>Tên lớp</td>
                        <td>
                            <form action="{% url 'sv_list' %}" method="POST">
                                {% csrf_token %}
                                <input type="text" name="name">
                                <input type="submit" name="submit" value="Search">
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{% url 'create_lop' %}">
                                <button type="button" class="btn btn-primary">Tao moi lop</button>
                            </a>

                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-responsive-sm table-bordered table-striped table-sm">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Ma lop</th>
                        <th>Ten lop</th>
                        <th>Trung tam</th>
                        <th>Chuong trinh DT</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ct in lop %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ ct.ma }}</td>
                        <td>
                            {{ ct.ten }}
                        </td>
                        <td>{{ ct.trungtam }}</td>
                        <td>
                            {{ ct.ctdt.ten }}
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'lop_monhoc' ct.id  %}" role="button">Quản lý học tập</a>
                            <a class="btn btn-warning" href="{% url 'lop81-lst' ct.id %}">Hồ sơ 81 & Học phí</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
