
<dialog id="dialog-main" data-onload-showmodal>

  {% block dialog-contents %}
    <h4>Lịch sử thay đổi
      <form method="dialog" style="float: right; padding: 0; margin: 0;">
        <button class="btn btn-outline-secondary">
          Close
        </button>
      </form>
    </h4>
    <div class="card border-light shadow-sm mb-4">
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-centered mb-0 rounded">
                  <thead class="thead-light">
                      <tr>
                          <th>id</th>
                          <th>date/time</th>
                          <th>change made</th>
                          <th>user</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for change in changes %}
                          <tr>
                              <td>{{change.new_record.history_id}}</td>
                              <td>{{change.new_record.history_date}}</td>
                              <td>
                                  {% if change.changed_fields|length > 0 %}
                                  {% for change_by_id in change.changes  %}
                                  <b>{{change_by_id.field|title}}</b> From:
                                  {% if change_by_id.old %}
                                      <b>{{change_by_id.old}}</b>
                                      {% else %}
                                      <b>blank field</b>    
                                  {% endif %}
                                      to ---> <b>{{change_by_id.new}}</b>
                                      <br>
                                  {% endfor %}
                                  {% endif %}
                              </td>
                              <td>{{change.new_record.history_user}}</td>
                          </tr>
                      {% endfor %}
                          
                  </tbody>
              </table>
          </div>
      </div>
  </div>
{% endblock %}
</dialog>
