{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Cập nhật lớp {% endblock %}

{% block content %}

    <main class="content">

        {% include 'includes/navigation.html' %}

        <div class="preloader bg-soft flex-column justify-content-center align-items-center">
            <img class="loader-element animate__animated animate__jackInTheBox"
                 src="{% static 'assets/img/brand/light.svg' %}" height="60" alt="Volt logo">
        </div>


        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="btn-toolbar mb-2 mb-md-0">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a href="{% url 'ns_list' %}">Thông tin nhân sự</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Gán lớp</li>
                </ol>
            </div>
        </div>

        <h6>Tên nhân sự: {{ns.hoten}}</h6>
        <div class="card border-light shadow-sm mb-4">
                <form action="{% url 'ns_lop' ns.id %}" method="post">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="table-responsive">
                        <table class="table table-centered mb-0 rounded">
                            <thead class="thead-light">
                                <tr>
                                    <th>STT</th>
                                    <th>Trung tâm</th>
                                    <th>Mã Lớp</th>
                                    <th>Tên Lớp</th>
                                    <th>Gán lớp</th>
                                </tr>
                            </thead>
                    <tbody>
                        {% for nl in nls %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ nl.lop.trungtam }}</td>
                            <td>{{ nl.lop.ma }}</td>
                            <td>{{ nl.lop.ten }}</td>
                            <td class="text-center">
                                <div class="d-flex justify-content-center form-check form-switch">
                                    <input class="form-check-input" name="C{{ nl.lop.id }}" type="checkbox" {% if nl.status == 1 %} checked="checked" {% endif %}>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
    </tbody>
                </table>

                {{ transactions.pagination }}

                        </div>
                    </div>
                    <div class="card-body">
                        <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
</main>

{% endblock content %}
