{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Cập nhật lớp {% endblock %}

{% block content %}

    <main class="content">

        {% include 'includes/navigation.html' %}

        <div class="preloader bg-soft flex-column justify-content-center align-items-center">
            <img class="loader-element animate__animated animate__jackInTheBox"
                 src="{% static 'assets/img/brand/light.svg' %}" height="60" alt="Volt logo">
        </div>


        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="btn-toolbar mb-2 mb-md-0">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a href="{% url 'ctdt_list' %}">Danh sách nhân sự</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Gán lớp</li>
                </ol>
            </div>
        </div>

            <div class="card border-light shadow-sm mb-4">
                <form action="{% url 'ns_lop' ns_id %}" method="post">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="table-responsive">
                        <table class="table table-centered mb-0 rounded">
                            <thead class="thead-light">
                                <tr>
                                    <th>STT</th>
                                    <th>Trung tâm</th>
                                    <th>Mã Lớp</th>
                                    <th>Tên Lớp</th>
                                    <th>Tình trạng</th>
                                </tr>
                            </thead>
                    <tbody>
                        {% for nl in nls %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ nl.lop.trungtam }}</td>
                            <td>{{ nl.lop.ma }}</td>
                            <td>{{ nl.lop.ten }}</td>
                            <td>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    {% if nl.status == 1 %}
                                    <label class="btn btn-success">
                                        <input type="radio" name="C{{ nl.lop_id }}" id="option1" autocomplete="off" value="1" checked> Có
                                    </label>

                                    <label class="btn btn-danger">
                                        <input type="radio" name="C{{ nl.lop_id }}" id="option2" autocomplete="off" value="0"> Không
                                    </label>
                                    {% else %}
                                    <label class="btn btn-outline-success">
                                        <input type="radio" name="C{{ nl.lop_id }}" id="option1" autocomplete="off" value="1"> Có
                                    </label>

                                    <label class="btn btn-outline-danger active">
                                        <input type="radio" name="C{{ nl.lop_id }}" id="option2" autocomplete="off" value="0" checked> Không
                                    </label>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
    </tbody>
                </table>

                {{ transactions.pagination }}

                        </div>
                    </div>
                    <div class="card-body">
                        <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
</main>

{% endblock content %}
