{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Transactions {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class="content">

        {% include 'includes/navigation.html' %}
        {% include 'sms/alerts.html' %}

        <div class="preloader bg-soft flex-column justify-content-center align-items-center">
            <img class="loader-element animate__animated animate__jackInTheBox"
                 src="{% static 'assets/img/brand/light.svg' %}" height="60" alt="Volt logo">
        </div>


        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="btn-toolbar mb-2 mb-md-0">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="\"><span class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Báo cáo hồ sơ, học phí 81</li>
                </ol>
            </div>
        </div>

        <div class="row item-row">
            <div class="col-12">
                <div class="card card-body bg-white border-light shadow-sm mb-4">
                    <h2 class="h5 mb-4">Report filter</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div>
                                    <label for="id_sogio">Lớp:</label>
                                    <select name="lop" class="form-control" required id="id_monhoc">
                                        <option value="" selected>----</option>
                                        {% for ct in lh %}
                                        <option value="{{ct.id}}">{{ct.ma}}-{{ct.ten}}</option>
                                        {% endfor%}
                                    </select>
                    
                                </div>
                            </div>
                            <div class="mt-3">
                                <button type="submit" class="btn btn-primary">Xem báo cáo</button>
                            </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card border-light shadow-sm mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-centered mb-0 rounded">
                        <thead class="thead-light">
                            <tr>
                                <th>#</th>
                                <th>Mã</th>
                                <th>Tên</th>
                                <th>Học kỳ</th>
                                <th>Hồ sơ</th>
                                <th>Học phí</th>
                                <th>Số tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sv in svs %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ sv.msv }}</td>
                                    <td>{{ sv.hoten }}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {% for hk in sv.hkl %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ hk.ten }}</td>
                                    <td>{{ hk.hs.status }}</td>
                                    <td>{{ hk.hp.status }}</td>
                                    <td>{{ hk.hp.sotien2}}</td>
                                    <td></td>
                                </tr>
                                {% endfor %}
                            {% empty %}
                            <p>Please enter report filter</p>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% if query_tt %}
            <div class="card-body">
                <form action="{% url 'export_hs81'%}" method="post">
                    {% csrf_token %}
                        <input hidden type="text" name="lop" class="form-control" value="{{query_lop}}" maxlength="100">
                        <input hidden type="text" name="trungtam" class="form-control" value="{{query_tt}}" maxlength="100">
                        <button type="submit" class="btn btn-primary">Export</button>
                </form>
            </div>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-md-12">
                {% if lh.has_other_pages %}
                    <ul class="pagination">
                        {% if lh.has_previous %}
                            <li class="page-item">
                                <a href="?page={{lh.previous_page_number}}" class="page-link">Prev</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">Prev</a>
                            </li>
                        {% endif %}
                        {% for i in lh.paginator.page_range %}
                            {% if lh.number == i %}
                                <li class="page-item active">
                                    <a class="page-link">{{ i }}</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if lh.has_next %}
                            <li class="page-item">
                                <a href="?page={{lh.next_page_number}}" class="page-link">Next</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
        
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
