{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Transactions {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class="content">

        {% include 'includes/navigation.html' %}
        {% include 'sms/alerts.html' %}

        <div class="preloader bg-soft flex-column justify-content-center align-items-center">
            <img class="loader-element animate__animated animate__jackInTheBox"
                 src="{% static 'assets/img/brand/light.svg' %}" height="60" alt="Volt logo">
        </div>

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="btn-toolbar mb-2 mb-md-0">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="/"><span class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a href="{% url 'sv_list' %}">Thông tin học viên</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Qúa trình học tập</li>
                </ol>
        </div>
        </div>

        <div class="card border-light shadow-sm mb-4">
            <div class="card-body">
                <h6>Mã: {{sv.msv}}</h6>
                <h6>Tên: {{sv.hoten}}</h6>
                <div class="table-responsive">
                    <table class="table table-centered mb-0 rounded">
                        <thead class="thead-light">
                            <tr>
                                <th>STT</th>
                                <th>Môn học</th>
                                <th>Tín chỉ</th>
                                <th>KTTX1</th>
                                <th>KTTX2</th>
                                <th>KTTX3</th>
                                <th>KTĐK1</th>
                                <th>KTĐK2</th>
                                <th>KTĐK3</th>
                                <th>TBM KT</th>
                                <th>KTKT1</th>
                                <th>KTKT2</th>
                                <th>TBM 10</th>
                                <th>TBM 4</th>
                                <th>Xếp loại</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for hk in hks %}
                            <tr>
                                <td></td>
                                <td>{{ hk.ten }}</td>
                                <td>{{ hk.tchk }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <span class="font-weight-bold text-success">{{ hk.tbmhk }}</span>
                                </td>
                                <td>
                                    <span class="font-weight-bold text-success">{{ hk.tbmhk4 }}</span>
                                </td>
                                <td>
                                    <span class="font-weight-bold text-success">{{ hk.xl }}</span>
                                </td>
                            </tr>
                            {% for mh in hk.lml %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ mh.ten }}</td>
                                <td>{{ mh.tc }}</td>
                                {% if mh.n_kttx1%}<td>{{ mh.kttx1 }}</td>{% else %}<td></td>{% endif %}
                                {% if mh.n_kttx2%}<td>{{ mh.kttx2 }}</td>{% else %}<td></td>{% endif %}
                                {% if mh.n_kttx3%}<td>{{ mh.kttx3 }}</td>{% else %}<td></td>{% endif %}
                                {% if mh.n_ktdk1%}<td>{{ mh.ktdk1 }}</td>{% else %}<td></td>{% endif %}
                                {% if mh.n_ktdk2%}<td>{{ mh.ktdk2 }}</td>{% else %}<td></td>{% endif %}
                                {% if mh.n_ktdk3%}<td>{{ mh.ktdk3 }}</td>{% else %}<td></td>{% endif %}
                                <td>
                                    <span class="font-weight-bold text-success">{{ mh.tbmkt }}</span>
                                </td>
                                {% if mh.n_ktkt1%}<td>{{ mh.ktkt1 }}</td>{% else %}<td></td>{% endif %}
                                {% if mh.n_ktkt2%}<td>{{ mh.ktkt2 }}</td>{% else %}<td></td>{% endif %}
                                <td>
                                    <span class="font-weight-bold text-success">{{ mh.tbm }}</span>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            {% endfor %}
                            {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <div>
                            <form action="{% url 'details_sv' sv.id 3%}" method="post">
                                {% csrf_token %}
                                    <input hidden type="text" name="lop" class="form-control" value="{{lop.id}}" maxlength="100">
                                    <button type="submit" class="btn btn-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                                          </svg><span></span>
            
                                        Download as Raw data Excel
                                    </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div>
                            <form action="{% url 'details_sv' sv.id 4%}" method="post">
                                {% csrf_token %}
                                    <input hidden type="text" name="lop" class="form-control" value="{{lop.id}}" maxlength="100">
                                    <button type="submit" class="btn btn-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                                          </svg><span></span>
            
                                        Download as PDF file
                                    </button>
                            </form>
                        </div>
                    </div>
                </div>
    </div>
        </div>

        {% if opt == 2 %}
        <div class="card border-light shadow-sm mb-4">
            <div class="card-body">
                <h2 class="h5 mb-4">Thông tin học phí</h2>
                <div class="table-responsive">
                    <table class="table table-centered mb-0 rounded">
                        <thead class="thead-light">
                            <tr>
                                <th>Học kỳ</th>
                                <th>Trạng thái hồ sơ 81</th>
                                <th>Trạng thái học phí</th>
                                <th>Dư nợ học phí</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for hk in hks %}
                            <tr>
                                <td>{{ hk.ten }}</td>
                                {% if hk.hp %}
                                    <td>{{ hk.hp.hs81_st }}</td>
                                    <td>{{ hk.hp.status }}</td>
                                    <td>{{ hk.hp.duno }}</td>
                                {% else %}
                                    <td></td>
                                    <td></td>
                                    <td><span class="font-weight-bold text-danger">Chưa có thông tin</span></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card border-light shadow-sm mb-4">
            <div class="card-body">
                <h2 class="h5 mb-4">Xét điều kiện tốt nghiệp</h2>
            <div class="col-12">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-success">
                                    <input type="radio" name="C{{ ct.sv.id }}" id="option1" autocomplete="off" value="1" checked> Đủ
                                </label>
            
                                <label class="btn btn-danger">
                                    <input type="radio" name="C{{ ct.sv.id }}" id="option2" autocomplete="off" value="0"> Không đủ
                                </label>
                            </div>
                            <br>
                            <input class="btn btn-primary" type="submit" value="Xác nhận">
                        </form>
                    </div>
                </div>
        </div>
        {% endif %}
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
