{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Transactions {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class="content">

        {% include 'includes/navigation.html' %}
        {% include 'sms/alerts.html' %}

        <div class="preloader bg-soft flex-column justify-content-center align-items-center">
            <img class="loader-element animate__animated animate__jackInTheBox"
                 src="{% static 'assets/img/brand/light.svg' %}" height="60" alt="Volt logo">
        </div>

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="btn-toolbar mb-2 mb-md-0">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="\"><span class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Danh sách học viên</li>
                </ol>
            </div>
        </div>

        <div class="row item-row">
            <div class="col-12">
                <div class="card card-body bg-white border-light shadow-sm mb-4">
                    <h2 class="h5 mb-4">Thông tin tìm kiếm</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div><label for="id_ma">Tên học viên:</label>
                                    <input type="text" name="ten" class="form-control" maxlength="100">
                                </div>
                            </div>
                        
                            <div class="mt-3">
                                <button type="submit" class="btn btn-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                    </svg>
                                    Tìm kiếm                              
                                </button>
                            </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>



        <div class="card border-light shadow-sm mb-4">
            <div class="card-body">
                <h2 class="h5 mb-4">Danh sách học viên</h2>
                <div class="table-responsive">
                            <table class="table table-centered mb-0 rounded">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Mã</th>
                                        <th>Họ tên</th>
                                        <th>CCCD</th>
                                        <th>Năm sinh</th>
                                        <th>Giới tính</th>
                                        <th>Tác nghiệp</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in students %}
                                    <tr>
                                        <td>{{ student.msv }}</td>
                                        <td>{{ student.hoten }}</td>
                                        <td>{{ student.cccd }}</td>
                                        <td>{{ student.namsinh | date:"d/m/y" }}</td>
                                        <td>{{ student.gioitinh }}</td>
                                        <td>
                                            <div>
                                                <button class="btn btn-link text-dark mr-2 dropdown-toggle m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="icon icon-sm">
                                                        <span class="fas fa-ellipsis-h icon-dark"></span>
                                                    </span>
                                                </button>
                                                <div class="dropdown-menu dashboard-dropdown dropdown-menu-left mt-2">
                                                    <a class="dropdown-item edit_item"
                                                       href="{% url 'edit_sv' student.id %}">
                                                        <span class="fas fa-edit mr-2"></span>Cập nhật
                                                    </a>
                                                    <a class="dropdown-item edit_item"
                                                       href="{% url 'details_sv' student.id %}">
                                                        <span class="fas fa-edit mr-2"></span>Qúa trình học tập
                                                    </a>
                                                    <a class="dropdown-item text-danger delete_item"
                                                       data-href="">
                                                        <span class="fas fa-trash-alt mr-2"></span>Remove
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                </div>
            </div>
            <div class="card-body">
                <a href="{% url 'create_sv' %}">
                    <button type="button" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                        </svg>                       
                        Thêm học viên
                    </button>
                </a>

            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                {% if students.has_other_pages %}
                    <ul class="pagination">
                        {% if students.has_previous %}
                            <li class="page-item">
                                <a href="?page={{teachers.previous_page_number}}" class="page-link">Prev</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">Prev</a>
                            </li>
                        {% endif %}
                        {% for i in students.paginator.page_range %}
                            {% if students.number == i %}
                                <li class="page-item active">
                                    <a class="page-link">{{ i }}</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if students.has_next %}
                            <li class="page-item">
                                <a href="?page={{teachers.next_page_number}}" class="page-link">Next</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
        
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
