{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Transactions {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class="content">

        {% include 'includes/navigation.html' %}
        {% include 'sms/alerts.html' %}

        <div class="preloader bg-soft flex-column justify-content-center align-items-center">
            <img class="loader-element animate__animated animate__jackInTheBox"
                 src="{% static 'assets/img/brand/light.svg' %}" height="60" alt="Volt logo">
        </div>

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="btn-toolbar mb-2 mb-md-0">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a href="{% url 'lop_list' %}">Lớp</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Học viên</li>
                </ol>
        </div>
        </div>

        <div class="row item-row">
            <div class="col-12">
                <div class="card card-body bg-white border-light shadow-sm mb-4">
                    <h2 class="h5 mb-4">Thông tin tìm kiếm</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div><label for="id_ma">Tên học viên:</label>
                                    <input type="text" name="ma" class="form-control" maxlength="100" required id="id_ma">
                                </div>
                            </div>
                        
                            <div class="mt-3">
                                <button type="submit" class="btn btn-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                    </svg>

                                    Tìm kiếm</button>
                            </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card border-light shadow-sm mb-4">
            <div class="card-body">
                <h2 class="h5 mb-4">Lớp: {{tenlop}}</h2>
                <div class="table-responsive">
                            <table class="table table-centered mb-0 rounded">
                                <thead class="thead-light">
                                    <tr>
                                        <th>STT</th>
                                        <th>Mã</th>
                                        <th>Họ tên</th>
                                        <th>CCCD</th>
                                        <th>Tác nghiệp</th>
                
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in students %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ student.msv }}</td>
                                        <td>{{ student.hoten }}</td>
                                        <td>{{ student.cccd }}</td>
                                        <td>
                                            {% if perms.sms.view_hssv or perms.sms.change_hssv%}
                                            <div class="btn-group">
                                                <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
                                                        data-toggle="dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="icon icon-sm">
                                                        <span class="fas fa-ellipsis-h icon-dark"></span>
                                                    </span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item edit_item"
                                                       href="{% url 'edit_sv' student.id %}">
                                                        <span class="fas fa-edit mr-2"></span>Cập nhật
                                                    </a>
                                                </div>
                                            </div>
                                            {% endif %}

                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                                </div>
            </div>
        </div>
        {% if perms.sms.add_hssv or perms.sms.view_hssv%}
        <div class="row item-row">
            <div class="col-md-6 mb-3">
                <div>
                    {% if perms.sms.add_hssv%}
                    <a href="{% url 'create_sv' %}">
                        <button type="button" class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                            </svg>
                            Thêm mới
                        </button>
                    </a>
                    {% endif %}
                    <a href="{% url 'export_lopsv' lop_id%}">
                        <button type="button" class="btn btn-primary align-items-center">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                        </svg>                        

                            Export
                        </button>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
        {% if perms.sms.add_hssv%}
        <div class="row item-row">
            <div class="col-12">
                <div class="card card-body bg-white border-light shadow-sm mb-4">
                    <h2 class="h5 mb-4">Import học viên</h2>
                    <a href="{% url 'download_temp' 2%}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                        </svg>                        
                        Download template
                    </a>
                    <form action="{% url 'import_lopsv' lop_id%}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div><label for="id_ma">Tên file:</label>
                                    <input type="file" name="excel_file" class="form-control" required maxlength="100">
                                </div>
                            </div>
                        
                            <div class="mt-3">
                                <button type="submit" class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                                <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z"/>
                                </svg>
                                    Import
                                </button>
                            </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}


        <div class="row">
            <div class="col-md-12">
                {% if teachers.has_other_pages %}
                    <ul class="pagination">
                        {% if teachers.has_previous %}
                            <li class="page-item">
                                <a href="?page={{teachers.previous_page_number}}" class="page-link">Prev</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">Prev</a>
                            </li>
                        {% endif %}
                        {% for i in teachers.paginator.page_range %}
                            {% if teachers.number == i %}
                                <li class="page-item active">
                                    <a class="page-link">{{ i }}</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if teachers.has_next %}
                            <li class="page-item">
                                <a href="?page={{teachers.next_page_number}}" class="page-link">Next</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
        
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
