{% extends "layouts/rental_base.html" %}

{% block title %} UI Notification {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block extra_css %}{% endblock extra_css %}

{# Breadcrumb removed #}

{% block content %}

        <div class="py-4">
            <div class="d-flex justify-content-between w-100 flex-wrap">
                <div class="mb-3 mb-lg-0">
                    <h1 class="h4">Notifications</h1>
                    <p class="mb-0">Dozens of reusable components built to provide buttons, alerts, popovers, and more.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h2 class="h4 mb-0">Notyf</h2>
                        <a href="https://themesberg.com/docs/volt-bootstrap-5-dashboard/plugins/notifications/" class="btn btn-outline-gray"><i class="far fa-question-circle mr-1"></i> Documentation</a>
                    </div>
                    <div class="card-body">
                        <button class="btn btn-info" id="notifyTopLeft">Top left info</button>
                        <button class="btn btn-danger" id="notifyTopRight">Top right danger</button>
                        <button class="btn btn-warning" id="notifyBottomLeft">Bottom left warning</button>
                        <button class="btn btn-primary" id="notifyBottomRight">Primary bottom right</button>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block extra_js %}{% endblock extra_js %}
